h1 {
    font-family: Comfortaa;
    text-align: left;
    margin: 4px 0 4px;
}
block1 {
    font-family: Comfortaa;
    text-align: left;
    margin: 4px 0 4px;
}
footer {
    font-family: Comfortaa;
    text-align: left;
    margin: 4px 0 4px;
}
